## Pandas Exercises
<hr style="border:2px solid black"> </hr>

### Exercises Part I
Use pandas to create a Series named fruits from the following list:

In [3]:
list_of_fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [4]:
import numpy as np
import pandas as pd

In [5]:
fruits = pd.Series(list_of_fruits)

In [6]:
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

#### Use Series attributes and methods to explore your fruits Series.

### 1. Determine the number of elements in fruits.

In [9]:
fruits.size

17

### 2. Output only the index from fruits.

In [10]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

### 3.Output only the values from fruits.

In [11]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

### 4. Confirm the data type of the values in fruits.

In [12]:
fruits.dtype

dtype('O')

### 5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [14]:
fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [17]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [19]:
fruits.sample(2)

13           blueberry
5     honeycrisp apple
dtype: object

### 6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [20]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

### 7. Run the code necessary to produce only the unique string values from fruits.

In [33]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [51]:
#instructor note
fruits.nunique()

13

### 8. Determine how many times each unique string value occurs in fruits.

In [25]:
fruits.value_counts()

kiwi                4
mango               2
pineapple           1
gooseberry          1
gala apple          1
honeydew            1
strawberry          1
blackberry          1
blueberry           1
tomato              1
honeycrisp apple    1
papaya              1
watermelon          1
dtype: int64

### 9. Determine the string value that occurs most frequently in fruits.

In [48]:
fruits.value_counts().nlargest(1)

kiwi    4
dtype: int64

### 10. Determine the string value that occurs least frequently in fruits.

In [52]:
fruits.value_counts().nsmallest(1, keep = 'all')

pineapple           1
gooseberry          1
gala apple          1
honeydew            1
strawberry          1
blackberry          1
blueberry           1
tomato              1
honeycrisp apple    1
papaya              1
watermelon          1
dtype: int64

## Exercises Part II
Explore more attributes and methods while you continue to work with the fruits Series.

### 1. Capitalize all the string values in fruits.

In [53]:
fruits.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

### 2. Count the letter "a" in all the string values (use string vectorization).

In [60]:
fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

### 3. Output the number of vowels in each and every string value.

In [110]:
def vowel_count(string):
    count=0
    count += string.count('a')
    count += string.count('e')
    count += string.count('i')
    count += string.count('o')
    count += string.count('u')
    return count
number_of_vowels_per_fruit = fruits.apply(vowel_count)
number_of_vowels_per_fruit

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [124]:
def vowel_counter(string):
    vowels = "aeiou"
    listy = [char for char in string if char in vowels]
    return len(listy)

fruits.apply(vowel_counter)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

### 4. Write the code to get the longest string value from fruits.

In [106]:
fruits[fruits.str.len().nlargest(n=1,keep='all').index]

5    honeycrisp apple
dtype: object

### 5. Write the code to get the string values with 5 or more letters in the name.

In [82]:
five_letter_fruits = fruits.str.len() == 5
fruits[five_letter_fruits]

1     mango
12    mango
dtype: object

### 6. Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

In [86]:
fruits[fruits.apply(lambda row: row.count('o') >= 2)]

6         tomato
15    gooseberry
dtype: object

### 7. Write the code to get only the string values containing the substring "berry".

In [89]:
fruits[fruits.str.endswith('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

### 8. Write the code to get only the string values containing the substring "apple".

In [91]:
fruits[fruits.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

### 9. Which string value contains the most vowels?

In [113]:
fruits[number_of_vowels_per_fruit.nlargest(1)]

5    honeycrisp apple
dtype: object